* {
    margin: 0;
}

.main-page {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.main-page__aside {
    padding-left: 30px;
    width: 20%;
}

.main-page__aside-list {
    padding-left: 40px;
}
